.menu {
    background-color: var(--main-color-3);
    color: var(--main-color-1);
    padding: 1em 1em;
    margin: 0;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration:none;
}

.button {
    height: 25px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.b1 {
    color: var(--main-color-1);
}

.b1:hover {
    color: var(--main-color-3);
    background: var(--main-color-1);
}

.text {
    height: 25px;
    margin: 5px;
    padding: 5px;
    font-weight: bolder;
}
