.menu {
    background-color: var(--main-color-5);
    color: var(--main-color-4);
    padding: 1em 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.accent {
    color: var(--main-color-3);
}