<div>
    <p>
        <label for="titre">Titre: </label>
        <input id="titre" type="text" [(ngModel)]="titre">
    </p>

    <p>
        <label for="artisteSelect">Artiste: </label>
        <select [id]="artisteSelect" [(ngModel)]="artisteSelect">
            <option></option>
            <option *ngFor="let artiste of artisteService.artistes | async" [value]="artiste.artiste">
                {{artiste.artiste}}</option>
        </select>
    </p>

    <p>
        <label for="lieuSelect">Lieu: </label>
        <select [id]="lieuSelect" [(ngModel)]="lieuSelect">
            <option></option>
            <option *ngFor="let lieu of lieuService.lieux | async" [value]="lieu.lieu">{{lieu.lieu}}</option>
        </select>
    </p>

    <p>
        <select [id]="day" [(ngModel)]="day">
            <option *ngFor="let in of counter(31); let i = index" [value]="i + 1">{{i + 1}}</option>
        </select>

        <select [id]="month" [(ngModel)]="month">
            <option *ngFor="let in of this.generalService.listMonth" [value]="in.code">{{in.month}}</option>
        </select>

        <select [id]="annee" [(ngModel)]="annee">
            <option [value]="this.generalService.getFullYear()">{{this.generalService.getFullYear()}}</option>
            <option [value]="this.generalService.getFullYear() + 1">{{this.generalService.getFullYear() + 1}}</option>
        </select>
    </p>

    <p>
        <input type="file" id="customFile" (change)="uploadFile($event)">
    </p>

    <p>
        <button (click)="AddEvenement()">Add Evénement</button>
    </p>

    <p>{{artisteSelect}}</p>
    <p>{{lieuSelect}}</p>

</div>